*{
    margin: 0;
    padding: 0;
    font-family: verdana;
}

.header {
    background-color: #c7b198;
    width: 98%;
    height: 70px;
    color: #596e79;
    display: flex; 
    align-items: center; 
    padding: 0 15px; 
}

.judul, .menu {
    padding: 0; 
}

.judul {
    flex-grow: 1;
    text-align: left; 
}

.menu {
    text-align: right; 
}

.menu ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

.menu ul li a{
    padding: 10px 20px;
    background-color: #596e79;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #dfd3c3;
    color: #596e79;
}

.banner h1 {
    margin-top: 25px;
    margin-bottom: 20px; 
}

.banner h2 a.detail {
    display: inline-block;
    background-color: #596e79; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 10px; 
    transition: background-color 0.3s ease; 
}

.banner h2 a.detail:hover {
    background-color: #dfd3c3; 
    color: #596e79; 
}

.banner {
    background-color: #dfd3c3;
    height: 600px;
    text-align: center;
    color: #596e79;
}

.banner img {
    border-radius: 50px;
    height: 150px;
    border: 2px solid white;
    margin-top: 140px;
}


.kolom-pendidikan {
    text-align: center;
    color: #4d4d4d;
    margin-top: 50px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 150px); 
    background-color: #f5f5f5;
}

.grid-history {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    padding: 30px;
    background-color: #ffffff; 
    border-radius: 15px;
    width: 100%;
    max-width: 1200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.kolom {
    text-align: center;
    background-color: #c7b198;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.kolom:hover {
    transform: scale(1.05); 
}

.kolom img {
    width: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.kolom h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: bold;
}

.kolom p {
    color: #7a7a7a;
    font-size: 14px;
    margin-bottom: 20px;
}

.kolom button {
    padding: 10px 20px;
    background-color: #596e79;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.kolom button:hover {
    background-color: #dfd3c3;
    color: #596e79;
}


.footer {
    background-color: #c7b198;
    color: #596e79;
    text-align: center;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 15px;
}