html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
    line-height: 1.65;
    padding-bottom: 1000px;
}

header {
    background-color: #59193f;;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.container-satu {
    width: 800px;
    margin: 50px auto;
    background-color: #993b72;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.sidebar-satu {
    flex: 1;
    order: 1;
    padding: 10px;
}

.sidebar-satu ul li a {
    color: black; 
    text-decoration: none; 
    font-style: normal; 
}

.sidebar-satu ul li a:hover {
    font-style: italic; 
}

.kolom-utama {
    flex: 2;
    order: 2;
    padding: 10px;
}

.sidebar-dua {
    flex: 1;
    order: 3;
    padding: 10px;
}

footer {
    background-color: #59193f;;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
